@import url("styles/nav.css");
@import url("styles/header.css");
@import url("styles/section.css");
@import url("styles/talentos.css");
@import url("styles/vagas.css");
@import url("styles/topico.css");

:root {
    --cor-principal: #ffffff;
    --cor-texto: #667085;
    --cor-titulo: #101828;
    --cor-cabecalho: #3A404E;
    --cor-destaque: #8E2424;
    --cor-fundo: #C31919;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: var(--fonte-principal);
    font-weight: 600;
}